<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SIW Games - Archivio Videogiochi</title>
	<link rel="stylesheet" href="stile.css">
</head>

<body>
	<header>
		<h1>🎮 SIW Games 🕹️ </h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/videogiochi">Lista Videogiochi</a></li>
				<li><a href="/sviluppatori">Sviluppatori</a></li>
				<li><a href="/piattaforme">Piattaforme</a></li>
				<li><a href="/videogiochi/formSearchGiochi">Ricerca</a></li>
				<li th:if="${userDetails}"><a href="/videogiochi/preferiti">Preferiti</a></li>
				<!-- Controllo autenticazione -->
				<li th:if="${userDetails}">
					<span th:text="${userDetails.username}"></span>
					<a href="/logout">Logout</a>
				</li>
				<li th:unless="${userDetails}">
					<a href="/login">Accedi</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2>Benvenuto/a!</h2>
			<p>Esplora il nostro archivio di videogiochi, scopri gli sviluppatori e le piattaforme su cui puoi
				divertirti.</p>
		</section>

		<section id="logo">
			<img src="/videogiochi.jpg" alt="Benvenuto su SIW Games">
		</section>


	</main>

	<footer>
		<p>Sito per il corso di Sistemi Informativi sul Web</p>
	</footer>

</body>

</html>